body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
  flex-direction: column;
  display: flex;
}
/* Banner Styling */
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
/* End of Banner Styling*/ 

/* Question/Main Message Styling */
.quiz-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
#quiz {
 align-items: center;
 align-content: center;
 display: flex;
 justify-content: center;
}
#quiz-question {
  font-size: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.initial-form {
  margin-bottom: 100px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.initial-input {
  padding-bottom: 50px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input[type=text] {
  width: 100%;
  padding: 20px 20px;
  text-align: center;
}
input[type=text]:focus {
  background-color: #aed0d5 ;
}
.user-score-list-container {
  margin-bottom: 100px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.user-div {
  border: 2px solid #444;
  border-radius: 10px;
  margin: 5px;
}
/* End of Question/Main Message Styling */

/* Button Styling */
.buttons-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
button {
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #28666E;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.option-button {
  width: 50%;
}
.option-button:hover{
	background-color: #368B96;
}
#submit-button:hover {
  background-color: #368B96;
}
#retry-button {
  margin-top: 20px;
}
#retry-button:hover {
  background-color: #368B96;
  transform: scale(1.2);
}
.next-button {
  width: 30%;
  background-color: #3B99A5;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.next-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.next-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.next-button:hover span {
  padding-right: 25px;
}
.next-button:hover span:after {
  opacity: 1;
  right: 0;
}
#start {
  border-radius: 4px;
  background-color: #28666E;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#start span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#start:hover span {
  padding-right: 25px;
}
#start:hover span:after {
  opacity: 1;
  right: 0;
}
/* End of Button Styling */

/* Results/Bottom Message Styling */
#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#results p {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 70%;
}
/* End of Results/Bottom Message Styling */
